     <div id="info">
       <h2>About</h2>
       <dl>
         <dd>This version of WebSVN has been modified by Scott Meesseman to support GitHub style markdown support.</dd>
         <dd>Visit <a href="https://websvnphp.github.io">websvnphp.github.io</a> for more information about WebSVN.</dd>
         <dd>Learn more about Apache Subversion at <a href="http://subversion.apache.org">subversion.apache.org</a>.</dd>
       </dl>
     </div>
